<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="server=.;database=TheHub;user id=umbraco;password=password" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>