<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <log4net>

  </log4net>
  <sitecore>
   
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Glass.Mapper.Sc.Tests.FakeAuthorizationProvider, Glass.Mapper.Sc.Tests" />
      </providers>
    </authorization>
    <accessRights>
      <providers>
			  <add name="config" type="Glass.Mapper.Sc.Tests.FakeAccessRightProvider, Glass.Mapper.Sc.Tests" />
      </providers>
    </accessRights>
    <authentication>
      <providers>
        <add name="forms" type="Sitecore.Security.Authentication.MembershipAuthenticationProvider, Sitecore.Kernel" />
      </providers>
    </authentication>
    <domainManager>
      <providers>
        <add name="file" type="Glass.Mapper.Sc.Tests.FakeDomainProvider, Glass.Mapper.Sc.Tests"/>
      </providers>
    </domainManager>
   </sitecore>
</configuration>