<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource=".\App_Config\ConnectionStrings.config" />
  <appSettings>
    <add key="EmailReminder.FromAddress" value="name@server.net" />
    <!-- NetSpell directory -->
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
    <add key="MSBuildPath" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319"/>
  </appSettings>
  <sitecore configSource=".\App_Config\Sitecore.Config" />
  <log4net>

  </log4net>
  <!--<sitecore>
   
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Glass.Mapper.Sc.Tests.FakeAuthorizationProvider, Glass.Mapper.Sc.Tests" />
      </providers>
    </authorization>
    <accessRights>
      <providers>
			  <add name="config" type="Glass.Mapper.Sc.Tests.FakeAccessRightProvider, Glass.Mapper.Sc.Tests" />
      </providers>
    </accessRights>
    <authentication>
      <providers>
        <add name="forms" type="Sitecore.Security.Authentication.MembershipAuthenticationProvider, Sitecore.Kernel" />
      </providers>
    </authentication>
    <domainManager>
      <providers>
        <add name="file" type="Glass.Mapper.Sc.Tests.FakeDomainProvider, Glass.Mapper.Sc.Tests"/>
      </providers>
    </domainManager>
   </sitecore>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
