<?xml version="1.0" encoding="utf-8" ?> 
<sitecore>
  <!--  DESIGNTIME WEB SERVICE
        The url to the web service providing design-time support for web controls etc.
        Must be full url, starting with http://
  -->
  <setting name="DesigntimeWebService" value="http://localhost/sitecore/client/api/api.asmx" />
</sitecore>
