iframe.scWebEditRibbon {
  width:100%;
  display:block;
  background:white;
  z-index:9090;
}

iframe.scCollapsedRibbon {
  border-bottom: 1px solid #cccccc;
}

iframe.scFixedRibbon {  
  position:fixed;
  top:0px;
  left:2px;  
}

iframe.scWebEditContentEditor {
  border:none;
  width:100%;
  height:100%;
  min-height:600px;
}

.scLoadingIndication
{ 
  position: fixed !important;
  top: 0px !important; 
  left: 50% !important;
  z-index:9091;
}

.scLoadingIndicatorInner
{
  position:relative;
  left:-50%;
  font-family: Tahoma,Verdana,Sans-Serif !important;
  font-size: 11px !important;
  font-weight: normal !important;
  line-height: normal !important;
  color: #fff; 
  height: 16px !important;
  padding: 2px 4px;
  background-color: #446693 !important;     
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;  
  border-radius:0 0 5px 5px; 
}

.scLoadingIndication img
{
  vertical-align: middle;
  margin-right: 4px;
}

.scWebEditContentEditorButtons {
  position:absolute;
}

a.scWebEditContentEditorButton,
a.scWebEditContentEditorButton:link,
a.scWebEditContentEditorButton:visited,
a.scWebEditContentEditorButton:hover,
a.scWebEditContentEditorButton:active {
  cursor:default;
  float:left;
  border:1px solid white;
  font:8pt tahoma;
  color:black;
  text-decoration:none;
}

a.scWebEditContentEditorButton:hover,
a.scWebEditContentEditorButton:active {
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
}

/* ----------------------------*/
/*        chrome ui            */

/*Reset Styles */
.scChromeControls *, .scChromeDropDown *, .scSortingHandle, .scInsertionHandle
{
  vertical-align: baseline !important;
  color: #333333 !important;
  font-family: Tahoma,Verdana,Sans-Serif !important;
  font-size: 11px !important;
  font-weight: normal !important;
  line-height: normal !important;
}

.scChromeDropDown a,
.scChromeDropDown a:link,
.scChromeDropDown a:visited,
.scChromeDropDown a:hover,
.scChromeDropDown a:active,
.scChromeToolbar .scChromeControls a,
.scChromeToolbar .scChromeControls a:link,
.scChromeToolbar .scChromeControls a:visited,
.scChromeToolbar .scChromeControls a:hover,
.scChromeToolbar .scChromeControls a:active
{ 
  cursor: pointer; 
  outline: none !important;
  text-decoration: none !important;   
}

/*End Reset*/

.scChromeData 
{
  display: none !important;
}

div#scFieldValues
{
  display: none;
}

.scClearBoth
{
  clear: both;
}

#scDummyToolbar
{
  visibility:hidden;  
  z-Index: -100;
  top: 0;
  left: 0;
}

/*** Floating toolbar***/

.scChromeControls
{  
  position: relative;
  top:-2px;
  left: -2px;    
  padding: 2px 4px;
  z-index: 9100;
}

.scChromeControls, .scChromeDropDown
{
  background: #F5F5F5;
  border: solid 1px #606060;  
}

.scChromeControls img
{
  border: none;
}

.scChromeToolbar
{
  position: absolute;
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/bg_transparent.png') repeat;
  z-index: 9100;
}
   
.scChromeName
{  
  overflow: hidden; 
  white-space: nowrap;   
  margin: 2px 4px 4px 4px; 
}

.scToolbarIndicator
{
  position: absolute;
  top: 4px;
  right: 4px;  
}

span.scChromeText
{
  position: relative;  
  margin-right:2px;
  color: #888 !important;    
  white-space:nowrap;
}

span.scReadonlyText
{ 
  white-space:nowrap;
  color: #999 !important; 
}

span.scChromeCommandText
{  
  margin-right:2px;    
  position:relative;
  top: 2px;
}

.scChromeCommand, .scChromeCommand:link, .scChromeCommand:active, .scChromeCommand.scDisabledCommand:hover 
{
  padding: 3px 4px;  
  float: left;
  height: 16px;
  position: relative;
}

a.scDisabledCommand, a.scDisabledCommand:link, a.scDisabledCommand:hover, a.scDisabledCommand:active
{
  border: none !important;
  background-color: transparent !important;
  background-image: none !important;
  cursor: default !important;
  color: #999 !important;  
}

.scChromeCommand:hover
{
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;  
  padding: 2px 3px;
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
}

a.scChromeCommand.scExpandDropdown
{
  padding-left: 1px;
  padding-right: 0px; 
}

a.scChromeCommand.scChromeMoreSection
{
  padding-left: 3px;
  padding-right: 3px;
}

a.scChromeCommand.scChromeMoreSection:hover
{
  padding-left: 2px;
  padding-right: 2px;
}

.scChromeCommand.scChromeMoreSection img
{  
  position: relative;
  top: 2px;
}

.scChromeComboButton .scChromeCommand.scExpandDropdown img
{
  position: relative;
  top: 5px;
}

span.scChromeCommandSectionDelimiter
{
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #dfdfdf !important;  
  padding: 0 4px;
  float: left;
  cursor: default; 
}

.scChromeDropDown
{  
  padding: 1px;       
  z-index: 9400;    
  position: absolute !important;  
}

.scChromeDropDown img
{
  border: none;
  position: relative;
  top: 1px;
}

.scChromeDropDown a.scChromeDropDownRow, .scChromeDropDown a.scChromeDropDownRow.scDisabledCommand:hover
{    
  display: block;
  padding: 2px 4px; 
}

.scChromeDropDown a.scChromeDropDownRow:hover
{    
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  padding: 1px 3px;
}

.scChromeDropDown a.scChromeDropDownRow span
{  
  position: relative;
  bottom: 3px;
  margin-left: 3px;  
}

img.scLevelConnection
{
  position: relative;
  top: -8px;
}

.scAncestorCommands
{
  padding-top: 1px;
}

.scChromeComboButton
{
  padding: 1px;
  float: left;
}
  
.scChromeComboButton .scChromeCommand
{
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
}

.scChromeComboButton:hover, .scChromeComboButton.scDdExpanded
{
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x;
  padding: 0px;
}

.scChromeComboButton:hover .scChromeCommand
{
  padding-left: 4px;
  padding-right: 4px;
}

.scChromeComboButton:hover .scChromeCommand.scExpandDropdown, .scChromeComboButton.scDdExpanded .scChromeCommand.scExpandDropdown
{
  border-left: 1px solid #ccc2a3;  
  padding-left: 0px;
  padding-right: 0px;
}

.scChromeComboButton.scDdExpanded .scChromeCommand.scExpandDropdown
{
   background: #feeb92 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonDown.png) repeat-x left -1px; 
}

a.scChromeMoreSection.scDdExpanded
{  
  padding: 2px; 
}

.scChromeCommand.scDdExpanded
{
  border: 1px solid;
  padding: 2px 3px;
  border-color: #d2c08e #d2c08e #ccc2a3 #d2c08e;
  background: #feeb92 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonDown.png) repeat-x left -1px;
}

img.scChromeAncestorIcon
{
  position: relative;
  top: 1px;
}

/*** END Floating toolbar***/

/*** Chrome frames ***/

.scFrameSideHorizontal
{
  position: absolute;
  z-index: 9050;  
  height: 1px;  
  background-color: #4B6996;
}

.scFrameSideVertical
{
  position: absolute;
  z-index: 9050;  
  width: 1px;  
  background-color: #4B6996;
}

.scHoverFrameSideHorizontal
{
  background: #4B6996 url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_horizontal.png') repeat-x; 
  position: absolute;
  z-index: 9000;  
  height: 1px;
  
}

.scHoverFrameSideVertical
{
  background: #4B6996 url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_vertical.png') repeat-y; 
  position: absolute;
  z-index: 9000;  
  width: 1px;
  
}

.scHilghlightedChrome
{
  opacity: 0.55;
  filter: alpha(opacity=55);
}

.scMoveControlSideHorizontal, .scMoveControlSideVertical
{
  background-color: #4E4E4E;
  position: absolute;
  z-index: 9075;
}

div.scMoveControlSideHorizontal
{  
  height: 8px;
  background-repeat: repeat-x;
}

div.scMoveControlSideVertical
{ 
  width: 8px;
  background-repeat: repeat-y;
}

.scTopSide
{
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_move_control_top.png');
}

.scBottomSide
{
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_move_control_bottom.png');
}

.scLeftSide
{
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_move_control_left.png');
}

.scRightSide
{
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_move_control_right.png');
}

.scLeftPart
{
  background-position: left center;
}

.scRightPart
{
  background-position: right center;
}

.scTopPart
{
  background-position: center top;
}

.scBottomPart
{
  background-position: center bottom;
}

div.scTlHoverFrameCorner, div.scTrHoverFrameCorner, div.scBlHoverFrameCorner, div.scBrHoverFrameCorner 
{
  width: 4px;
  height: 4px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.scHoverFrameSideVertical.scTlHoverFrameCorner
{  
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_corner_tl.png');
}

.scHoverFrameSideVertical.scBlHoverFrameCorner
{
  background-repeat: no-repeat;
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_corner_bl.png');
}

.scHoverFrameSideHorizontal.scTrHoverFrameCorner
{
  background-repeat: no-repeat;
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_corner_tr.png');
}

.scHoverFrameSideHorizontal.scBrHoverFrameCorner
{
  background-repeat: no-repeat;
  background-image: url('/sitecore/shell/themes/standard/images/pageeditor/bg_hover_frame_corner_br.png');
}

.scInvisible
{
  visibility:hidden;
}
/*** END Chrome frames ***/

/*** Chrome types styles ***/
.scWebEditInput
{
  display: inline;
  outline: none;
}

.scWebEditInput img
{
  outline: none;
}

.scEmptyPlaceholder 
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/EmptyPlaceholderBg.png') repeat;
  height: 100px;
}

.scWebEditInput.scEnabledChrome[contentEditable="true"]
{
  cursor: text;
  min-width: 0.5em;  
}

.scEnabledChrome[sc-part-of], .scLooseFrameZone.scEnabledChrome, .scWebEditInput.scEnabledChrome 
{
  cursor: pointer;  
}

div.scLooseFrameZone
{
  zoom: 1;
  overflow-y: hidden;  
}

.scWordContainer
{
  margin : 40px 0px;
  display: inline-block; 
}

/*** END Chrome types styles ***/

/***Add ot here\Move to here buttons***/
.scSortingHandle, .scInsertionHandle
{
  cursor: pointer; 
  position: absolute;   
  white-space: nowrap;    
  z-index: 9080;
}

.scInsertionHandleLeft
{
  float: left;
  width: 36px;
  height: 23px;
}

.scInsertionHandleLeft.scAddToHere
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/add_to_here_left.png') repeat-x;
}

.scInsertionHandle:hover .scInsertionHandleLeft.scAddToHere
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/add_to_here_left_hover.png') repeat-x;
}

.scInsertionHandleLeft.scMoveToHere
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_left.png') repeat-x;
}

.scSortingHandle:hover .scInsertionHandleLeft.scMoveToHere
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_left_hover.png') repeat-x;
}

.scInsertionHandleCenter
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_center.png') repeat-x;
  float: left;
  height: 11px;
  padding-top: 3px;
  padding-bottom: 9px;
}

.scSortingHandle:hover .scInsertionHandleCenter, .scInsertionHandle:hover .scInsertionHandleCenter
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_center_hover.png') repeat-x;
}

.scInsertionHandleCenter span
{  
  color: #181818 !important;
  position: relative;
  left: -10px;
}

.scInsertionHandleRight
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_right.png') no-repeat;
  float: left;
  width: 4px;
  height: 23px;  
}

.scSortingHandle:hover .scInsertionHandleRight, .scInsertionHandle:hover .scInsertionHandleRight
{
  background: transparent url('/sitecore/shell/themes/standard/images/pageeditor/move_to_here_right_hover.png') repeat-x;
}

/***END Add ot here\Move to here buttons***/

/*Personalization*/
.scDdArrow
{
    position: relative;
    top: -3px;
    padding-left: 2px;
}

span.scChromeBadge 
{
  position: absolute;
  z-index: 3;
  left: 18px;
  top: -5px;    
  color: White !important;
  padding: 0px 1px;
}

.scChromeBadge, .scLabel
{
  background-color: #446693;
}

.scChromeBadge.scActive, .scLabel.scActive
{
  background-color: #315388;
}

.scChromeCommand:hover .scChromeBadge, .scDdExpanded .scChromeBadge
{
  top: -6px;
  left: 17px;
}

/* Personalization drop down */
.scPersonalization
{
  width: 220px;
  background-color: White;
}

.scTesting
{
  width: 280px;
  background-color: White;
}

.scChromeDropDown .scHeader
{
  padding: 4px;
  background-color: #f5f5f5;
}

.scItemsList
{
  padding: 1px 0px;
  height: 62px;
  width: 100%;
  overflow-y: scroll;  
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #efefef;
  zoom: 1;
  position:relative;     
}

.scItemsList a.scListItem, .scItemsList a.scActiveListItem
{
  display: block;
}

.scItemsList .scListItem
{  
  padding: 4px;
}

.scItemsList .scListItem:hover
{
  padding: 3px;
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x;
  cursor: pointer;
}

.scItemsList .scActiveListItem, .scItemsList .scActiveListItem:hover
{  
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonDown.png) repeat-x;
  padding: 3px;
  cursor: default;
}

div.scSubHeader
{
  font-weight: bold !important;
  font-size: 12px !important;  
  padding: 4px;
}

div.scConditions
{
  margin-bottom: 4px;
  padding: 0px 4px;
  line-height: 1em !important;
  height: 2.5em;
  color: #666666 !important;  
}

a.scEditButton
{
  display:block;
  margin: 4px;
  padding: 1px 4px;
  overflow: hidden;  
}

a.scEditButton:hover, a.scEditButton:active
{
  padding: 0px 3px;
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x;
}

a.scEditButton div
{
  float: left;
  height: 20px;
  padding-right: 4px;
  border-right: 1px solid #cfcfcf;
  margin-right: 4px;
}

a.scDisabled.scEditButton
{
  cursor: default;  
  background: transparent;
  border: none;
  padding: 1px 4px;
}

a.scDisabled.scEditButton, a.scDisabled.scEditButton img
{
  opacity: 0.55;
  filter: alpha(opacity=55); 
}

.scChromeDropDown a.scEditButton
{
   line-height: 18px !important;
}

/*End personalization dropdown*/

.scBar
{  
  padding-top: 2px;
  margin-top: 2px;
  border-top: 1px solid #dfdfdf;
  position: relative;     
}

div.scLabel
{      
  color: White !important;
  height: 18px;   
  text-align:center;
  font-size: 12px !important;
  line-height: 18px !important;
  float: left;
  padding: 1px 2px;
  min-width: 26px;
  max-width: 34px;
  white-space:nowrap;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;        
}

.scPrevNextContainer
{
  height: 20px;
  width: 15px;
  position: relative;
  float: right;
  padding: 0px;
  margin-left: 1px;
}

.scPrevNextContainer:hover .scPrev, .scPrevNextContainer:hover .scNext
{
  border: 1px solid #bbbfc4;
  background-color: White;
  padding: 0px 2px; 
}

.scPrev, .scNext
{
  position: absolute;   
  cursor: pointer;
  padding: 1px 3px;
}

.scPrev:hover, .scNext:hover, .scPrevNextContainer:hover .scPrev:hover, .scPrevNextContainer:hover .scNext:hover
{
  background-color: #feeb92;
  border: 1px solid #d2c08e;
  padding: 0px 2px;
}

img.scPrev
{
  top: 0px;
}

img.scNext
{
  bottom: 0px;
}

img.scDisabled
{
  opacity: 0.35;
  filter: alpha(opacity=35);
  cursor: default;
  background-color: white !important;    
}

img.scDisabled:hover
{
  border: 1px solid #bbbfc4 !important;
}


.scBarLeftSection
{
  position: absolute;
  width: 54px;
}

.scTitleArea
{  
  padding: 1px 3px;
  margin-left: 54px;
  margin-right: 0px;  
  display:block;
  position: relative;             
}

.scTitleArea:hover
{
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x left top; 
  padding:0px 2px;
}

.scTitleContainer
{
  padding: 0px 10px 0px 2px; 
  background-image: url('/sitecore/shell/Themes/Standard/Images/menudropdown_black9x8.png');
  background-repeat:no-repeat;
  background-position: right center;             
}

.scTitleAnimationContainer
{
  position: relative;
  overflow: hidden;
  padding: 3px 0px;
  min-width: 160px;
}

.scTitle
{
  position: relative;      
  white-space: nowrap;       
}

.scTitleArea.scDdExpanded, .scTitleArea.scDdExpanded:hover
{
  border: 1px solid;
  padding: 0px 2px;
  border-color: #d2c08e #d2c08e #ccc2a3 #d2c08e;
  background: #feeb92 url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonDown.png) repeat-x left -2px;
}

.scConditionDescriptionUpdating
{  
  background: transparent url(/sitecore/shell/Themes/Standard/Images/PageEditor/toolbar_progress.gif) no-repeat center center;
}

.scChromeOverlay
{
   position: absolute;
   z-index: 9099;
   background-color: #dfdfdf;
}

.scControlsOverlay
{     
   position: absolute;
   top: -1px;
   left: -1px;
   z-index: 9101;
   background-color: white;
   opacity: 0.0;
   filter: alpha(opacity=0);
}

/*Notification Bar*/
.scNotificationBar
{
  position: fixed;
  left: 0px;
  top: 0px;  
  font-family: Tahoma,Verdana,Sans-Serif !important;
  font-size: 12px !important;
  color: #333 !important;  
  width: 100%;
  z-index: 10001;  
}

.scNotificationBar div
{
  margin-left: 6px;    
  padding: 4px 4px 4px 24px;
}

.scNotification.scWarning
{
  background: #ffffe4 url('/sitecore/shell/~/icon/Applications/16x16/warning.png') no-repeat 4px center;  
  border: 1px solid #B99325;
}

.scNotification.scError
{
  background-color: #F6EEEE;
  border: 1px solid #7F0000;
}

.scNotification.scInfo
{
  background-color: #F0FDE3;
  border: 1px solid #56890A;
}

.scNotificationBar .scDescription
{
  padding-right: 4px;  
}

.scNotificationBar .scAction, .scNotificationBar .scAction:link, .scNotificationBar .scAction:hover, .scNotificationBar .scAction:active
{
  color: #0066CC !important;
  cursor: pointer !important;
  text-decoration: none !important;
  font-weight: normal !important;  
}

.scNotificationBar a.scAction:hover
{
  text-decoration: underline !important;  
}

.scNotificationBar .scClose
{
  border:none;
  cursor: pointer !important;
  float:right;  
}

.scChromeBadge.scTestingBadge, .scTestingPanel .scLabel
{  
  background-color: #3EADA3;
}

.scVariations
{   
  width:100%; 
}

.scValueLabel
{
  float:  right;
  width: 70px;  
}

div.scValueBar
{
  height: 14px;
  width: 50px;
  margin-left: 2px;
  line-height: 14px !important;   
  position:relative;
}

div.scValueBarInner
{
  height: 14px;    
  background-image: url('/sitecore/shell/Themes/Standard/Images/PageEditor/bar-chart.png');
  background-repeat:repeat-x; 
  background-position:left top;
  border-right: 1px solid #299A73;
  border-top: 1px solid #73CBC6; 
}

div.scValueBarInner.scZeroValue
{
  border: none;
}

td.scVariationValue
{
  width: 56px;
  padding: 0px;
  vertical-align:middle !important;
}

.scpm 
{
  display: none !important;
}

.scEmptyImage
{
  min-height: 48px;
  min-width: 48px;
}
