@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Glass.Mapper.Sites.Sc.Models.Landing.BlogLanding>
<h2>@Editable(x=>x.Title)</h2>
<ul>
    @foreach (var post in Model.Children)
    {
        <li>
            @using (BeginEditFrame(post.Path))
            {
                <h3>@Editable(post, x => x.Title)</h3>
                @Editable(post, x => x.MainBody)
            }
        </li>
    }
</ul>
