<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Login.RememberLastLoggedInUserName" value="false"/>
    </settings>
    <sites>
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/site</patch:attribute>
      </site>
    </sites>
	  <dataProviders>
		  <glass type="Glass.Mapper.Sc.CodeFirst.GlassDataProvider, Glass.Mapper.Sc">
			  <param desc="database">$(1)</param>
			  <param desc="context">Default</param>
		  </glass>
	  </dataProviders>
	  <databases>
		  <database id="master">
			  <dataProviders>
				  <dataProvider ref="dataProviders/glass" param1="$(id)" />
			  </dataProviders>
		  </database>
		  <database id="web">
			  <dataProviders>
				  <dataProvider ref="dataProviders/glass" param1="$(id)"/>
			  </dataProviders>
		  </database>
	  </databases>
  </sitecore>
</configuration>