<?xml version="1.0"?>
<configuration>
  <sitecore>
    <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
      <rules>
        <rule name="shell">
          <urlPrefix>/sitecore/shell</urlPrefix>
          <ignore contains="Content Manager/Execute.aspx"/>
          <ignore contains="FlashUpload/Advanced/UploadTarget.aspx"/>
          <ignore contains="FlashUpload/Attach/AttachTarget.aspx"/>
          <ignore contains="WebEdit/Palette.aspx"/>
          <ignore contains="WebEdit/WebEditRibbon.aspx"/>
          <ignore contains="TreeviewEx.aspx"/>
          <ignore contains="InstantSearch.aspx"/>
          <ignore contains="WordOCX/Load.aspx"/>
          <ignore wildcard="/sitecore/shell/*Applications/Archives/Archive.aspx?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Archives/Recycle Bin.aspx?*Cart_*_Items_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Installer.AddSecuritySourceDialog.aspx?*Cart_*_SelectAccounts_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectAccount.aspx*Cart_*_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectAccount.aspx*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/User Manager.aspx?*Cart_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.SelectRoles.aspx*Cart_*_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.EditManagedDomains.aspx*Cart_*_Domains_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/Role Manager.aspx?*Cart_Roles_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.RoleManager.ViewMembers.aspx*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.Security.RoleManager.ViewParentRoles.aspx*Cart_*_Users_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/*Applications/Security/Domain Manager.aspx?*Cart_Domains_Callback=yes"/>
          <ignore wildcard="/sitecore/shell/~/xaml/Sitecore.Shell.Applications.WebEdit.Dialogs.LockedItems.aspx?Cart_*_Items_Callback=yes"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>