IconCache/
Tutorials/Depends/*

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.lib
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
_UpgradeReport_Files/
UpgradeLog*

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

temp/
indexes/
aspnet_client/
!NServiceBus.Host.exe
!NServiceBus.Host.pdb
Build/
Docs/
App_Data/
!*/[Cc]onfiguration/[Dd]ebug/
!*/[Cc]onfiguration/[Rr]elease/
temp/
upload/
Builds/
!*.textile
packages/Sitecore/*
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration/Data/license.xml
Sites/Sitecore/Glass.Mapper.Sites.Sc/data/*
Depends/Sitecore/bin/*
Depends/Sitecore/bin_Net4/*

Depends/Sitecore7/
packages/

Nugets/*

!lib/*
Source/Glass.Mapper.Sc.Razor.Tds/*.dll
Source/Glass.Mapper.Sc.Razor.Tds/*.xml
Source/Glass.Mapper.Sc.Razor.Tds/Package_Debug/Glass.Mapper.Sc.Razor.Tds.update
Sites/Sitecore/Glass.Mapper.Sites.Sc/data/
Depends/Sitecore/bin7/
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.ThirdParty/Data/license.xml
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.Sc7/Data/license.xml

Depends/Sitecore/bin7/
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.Sc7/Data/license.xml
Depends/Sitecore71/

Depends/Sitecore/bin - Copy/
Depends/Sitecore/bin6/
Depends/Sitecore/bin7.2/
Depends/Sitecore72/
Depends/Sitecore/bin66/*.dll
Depends/Sitecore/bin66/*.xml
Depends/Sitecore/bin66/*.lic
Depends/Sitecore/bin71/*.dll
Depends/Sitecore/bin71/*.xml
Depends/Sitecore/bin71/*.lic
Depends/Sitecore/bin72/*.dll
Depends/Sitecore/bin72/*.xml
Depends/Sitecore/bin72/*.lic
Depends/Sitecore/bin75/*.dll
Depends/Sitecore/bin75/*.xml
Depends/Sitecore/bin75/*.lic
Depends/Sitecore/bin8/*.dll
Depends/Sitecore/bin8/*.xml
Depends/Sitecore/bin8/*.lic
Depends/Sitecore/bin8/social
Depends/Sitecore/bin70/*.dll
Depends/Sitecore/bin70/*.xml
Depends/Sitecore/bin70/*.lic
Depends/Sitecore/bin80/*.dll
Depends/Sitecore/bin80/*.xml
Depends/Sitecore/bin80/*.lic
Depends/Sitecore/bin80/social
Depends/Sitecore.zip
.vs/config/applicationhost.config
Depends/Sitecore/bin81/*.dll
Depends/Sitecore/bin81/*.xml
Depends/Sitecore/bin81/*.lic
Depends/Sitecore/bin81/social
Documentation/Glass.Mapper.Sc/Help/
Help/
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.Tds/Package_Release/
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.Sc7/App_Config/ConnectionStrings.config
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration.ThirdParty/App_Config/ConnectionStrings.config
Tests/Integration Tests/Sitecore/Glass.Mapper.Sc.Integration/App_Config/ConnectionStrings.config
Depends/Sitecore/bin82/*.dll
Tests/Unit Tests/Glass.Mapper.Sc.FakeDb.ThirdParty/license.xml
Tests/Unit Tests/Glass.Mapper.Sc.FakeDb/license.xml
licence.xml
Depends/Sitecore/bin82/
/Depends/Sitecore/bin90/
/.vs
license.xml
