body {
    margin: 60px 60px;
}
.fixed {
    position: fixed;   
}

.icon-trello {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAfCAYAAABwH0oUAAAACXBIW…++97ux15pjYvkB4PFi/QUDePw5JpeBryyAHCb8kuSPAAMAXIqG/K/omzYAAAAASUVORK5CYII=);
    text-indent: -10000px;
}