<?xml version="1.0" encoding="utf-8"?>
<roles xmlns:sc="Sitecore">
  <role name="sitecore\Sitecore Client Account Managing" />
  <role name="sitecore\Sitecore Client Authoring" />
  <role name="sitecore\Sitecore Client Configuring" />
  <role name="sitecore\Sitecore Client Designing" />
  <role name="sitecore\Sitecore Client Developing" />
  <role name="sitecore\Sitecore Client Maintaining" />
  <role name="sitecore\Sitecore Client Publishing" />
  <role name="sitecore\Sitecore Client Securing" />
  <role name="sitecore\Sitecore Client Translating" />
  <role name="sitecore\Sitecore Client Users" />
  <role name="sitecore\Sitecore Limited Content Editor" />
  <role name="sitecore\Sitecore Limited Page Editor" />
  <role name="sitecore\Sitecore Local Administrators" />
  <role name="sitecore\Sitecore Minimal Page Editor" />
  <!-- 
      Role templates
      Use sc:templateName to name a specific template (and sc:template to reference it).
    -->
  <sc:templates>
    <role type="Sitecore.Security.Accounts.Role, Sitecore.Kernel" factoryMethod="FromName" arg0="@name"/>
  </sc:templates>
</roles>
