<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore database="Fake">
    <!-- SETTINGS -->
    <settings>
      <setting name="LicenseFile" value=".\data\license.xml" />
      <setting name="Caching.Enabled" value="false" />
    </settings>
    <!-- LINK DATABASE -->
    <LinkDatabase type="Sitecore.FakeDb.Links.FakeLinkDatabase, Sitecore.FakeDb" />
	  <linkManager defaultProvider="sitecore">
		  <providers>
			  <clear />
			  <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
		  </providers>
	  </linkManager>
    <!-- TASK DATABASE -->
    <TaskDatabase type="Sitecore.FakeDb.Tasks.FakeTaskDatabase, Sitecore.FakeDb" />
    <!-- PIPELINES -->
    <pipelines>
      <!-- FakeDb -->
      <initFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitDataProviders, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitDataEngineCommands, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitAuthorizationProvider, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitStandardValuesProvider, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitGlobals, Sitecore.FakeDb" />
      </initFakeDb>
      <releaseFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ReleasePipelineWatcher, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetTemplateEngine, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetFactory, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetSettings, Sitecore.FakeDb" />
      </releaseFakeDb>
      <getTranslation>
        <processor type="Sitecore.FakeDb.Pipelines.GetTranslation.GetFakeTranslation, Sitecore.FakeDb" />
      </getTranslation>
      <!-- Analytics -->
      <loadVisitor />
    </pipelines>
    <dataProviders>
      <main type="Sitecore.FakeDb.Data.DataProviders.$(database)DataProvider, Sitecore.FakeDb" />
    </dataProviders>
    <!-- DATABASES -->
    <databases>
      <!-- core -->
      <database id="core" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
        <Engines.DataEngine.Commands.AddFromtemplatePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddFromTemplateCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.AddVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.BlobStreamExistsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.BlobStreamExistsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CopyItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CopyItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CreateItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CreateItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.DeletePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.DeleteItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetBlobStreamCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetParentPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetParentCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetRootItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetRootItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetVersionsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetVersionsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.HasChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.HasChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.MoveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.MoveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveDataPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveDataCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.ResolvePathPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.ResolvePathCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SaveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SaveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SetBlobStreamCommand, Sitecore.FakeDb" />
      </database>
      <!-- master -->
      <database id="master" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
        <Engines.DataEngine.Commands.AddFromtemplatePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddFromTemplateCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.AddVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.BlobStreamExistsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.BlobStreamExistsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CopyItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CopyItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CreateItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CreateItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.DeletePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.DeleteItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetBlobStreamCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetParentPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetParentCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetRootItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetRootItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetVersionsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetVersionsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.HasChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.HasChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.MoveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.MoveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveDataPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveDataCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.ResolvePathPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.ResolvePathCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SaveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SaveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SetBlobStreamCommand, Sitecore.FakeDb" />
      </database>
      <!-- web -->
      <database id="web" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
        <Engines.DataEngine.Commands.AddFromtemplatePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddFromTemplateCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.AddVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.AddVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.BlobStreamExistsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.BlobStreamExistsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CopyItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CopyItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.CreateItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.CreateItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.DeletePrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.DeleteItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetBlobStreamCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetParentPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetParentCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetRootItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetRootItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.GetVersionsPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.GetVersionsCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.HasChildrenPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.HasChildrenCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.MoveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.MoveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveDataPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveDataCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.RemoveVersionPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.RemoveVersionCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.ResolvePathPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.ResolvePathCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SaveItemPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SaveItemCommand, Sitecore.FakeDb" />
        <Engines.DataEngine.Commands.SetBlobStreamPrototype type="Sitecore.FakeDb.Data.Engines.DataCommands.SetBlobStreamCommand, Sitecore.FakeDb" />
      </database>
    </databases>
    <clientDataStore type="Sitecore.FakeDb.Configuration.ClientDataStoreStub, Sitecore.FakeDb" />
    <!-- CONFIG STORES -->
    <configStores>
      <add name="globalRoles" type="Sitecore.Configuration.XmlConfigStore, Sitecore.Kernel">
        <param>roles</param>
      </add>
    </configStores>
    <!-- ITEM MANAGER -->
    <itemManager defaultProvider="default">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel" />
      </providers>
    </itemManager>
    <!-- DOMAINS -->
    <domainManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.SecurityModel.FakeDomainProvider, Sitecore.FakeDb" />
      </providers>
    </domainManager>
    <!-- SITES -->
    <siteManager defaultProvider="config">
      <providers>
        <clear />
        <add name="config" type="Sitecore.Sites.ConfigSiteProvider, Sitecore.Kernel" siteList="sites" checkSecurity="false" />
      </providers>
    </siteManager>
    <sites>
      <site name="website" />
    </sites>
    <!-- STANDARD VALUES -->
    <standardValues defaultProvider="fake">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Data.FakeStandardValuesProvider, Sitecore.FakeDb" />
      </providers>
    </standardValues>
    <!-- AUTHENTICATION -->
    <authentication defaultProvider="switcher">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.Security.Authentication.SwitchingAuthenticationProvider, Sitecore.FakeDb" defaultProvider="fake" />
        <add name="fake" type="Sitecore.FakeDb.Security.Authentication.FakeAuthenticationProvider, Sitecore.FakeDb" />
      </providers>
    </authentication>
    <!-- ROLES -->
    <rolesInRolesManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Accounts.FakeRolesInRolesProvider, Sitecore.FakeDb" globalRolesConfigStoreName="globalRoles" />
      </providers>
    </rolesInRolesManager>
    <!-- AUTHORIZATION -->
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAuthorizationProvider, Sitecore.FakeDb" />
      </providers>
    </authorization>
    <!-- ACCESS RIGHTS -->
    <accessRights>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAccessRightProvider, Sitecore.FakeDb" />
      </providers>
    </accessRights>
    <!-- SEARCH -->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ProviderIndexSearchConfiguration, Sitecore.ContentSearch" />
    </contentSearch>
    <switchingProviders>
      <membership>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </membership>
      <roleManager>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </roleManager>
      <profile>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </profile>
    </switchingProviders>
    <mediaLibrary>
      <!-- MEDIA PROVIDER -->
      <mediaProvider type="Sitecore.FakeDb.Resources.Media.FakeMediaProvider, Sitecore.FakeDb" />
    </mediaLibrary>
  </sitecore>
  <log4net />
  <system.web>
    <membership defaultProvider="fake" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreMembershipProvider, Sitecore.Kernel" realProviderName="fake" providerWildcard="%" raiseEvents="true" />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingMembershipProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/membership" />
      </providers>
    </membership>
    <roleManager defaultProvider="fake" enabled="true">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreRoleProvider, Sitecore.Kernel" realProviderName="fake" raiseEvents="true" />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingRoleProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/roleManager" />
      </providers>
    </roleManager>
    <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingProfileProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/profile" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
      </properties>
    </profile>
  </system.web>
</configuration>