<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=sitecore.glass.localSitecore_core;Integrated Security=False;User ID=sitecore;Password=password" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=sitecore.glass.localSitecore_master;Integrated Security=False;User ID=sitecore;Password=password" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=sitecore.glass.localSitecore_web;Integrated Security=False;User ID=sitecore;Password=password" />
</connectionStrings>