<configuration>
	<configSections>
		<section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
	</configSections>

	<!-- This will have to change once we have Umbraco added-->
	<connectionStrings configSource=".\Integration Tests\Sitecore\Glass.Mapper.Sc.Integration\App_Config\ConnectionStrings.config" />

	<sitecore configSource=".\Integration Tests\Sitecore\Glass.Mapper.Sc.Integration\App_Config\Sitecore.Config" />
	<log4net>

	</log4net>
</configuration>