<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <indexDocumentPropertyMapper>
            <objectFactory type="Sitecore.ContentSearch.DefaultDocumentMapperObjectFactory, Sitecore.ContentSearch">
              <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.SolrProvider.GlassDocumentMapperObjectFactory, Glass.Mapper.Sc.ContentSearch.SolrProvider</patch:attribute>
            </objectFactory>
          </indexDocumentPropertyMapper>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_templates">Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch</field>
          </fields>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.SolrProvider.GlassSolrIndex, Glass.Mapper.Sc.ContentSearch.SolrProvider</patch:attribute>
          </index>
          <index id="sitecore_web_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.SolrProvider.GlassSolrIndex, Glass.Mapper.Sc.ContentSearch.SolrProvider</patch:attribute>
          </index>
          <index id="sitecore_core_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.SolrProvider.GlassSolrIndex, Glass.Mapper.Sc.ContentSearch.SolrProvider</patch:attribute>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
