<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <compilers>
    <compiler type="Sitecore.Web.UI.XamlSharp.Xaml.XamlFileCompiler,Sitecore.Kernel">
      <extension>xaml.xml</extension>
    </compiler>
  </compilers>

  <controlcompilers>
    <controlcompiler type="Sitecore.Web.UI.XamlSharp.Xaml.ControlCompilers.UriControlCompiler,Sitecore.Kernel" />
    <controlcompiler type="Sitecore.Web.UI.XamlSharp.Xaml.ControlCompilers.XamlControlCompiler,Sitecore.Kernel" />
    <controlcompiler type="Sitecore.Web.UI.XamlSharp.Xaml.ControlCompilers.WebControlCompiler,Sitecore.Kernel" />
    <controlcompiler type="Sitecore.Web.UI.XamlSharp.Xaml.ControlCompilers.HtmlControlCompiler,Sitecore.Kernel" />
  </controlcompilers>

  <extensions>
    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.AttributeExtension,Sitecore.Kernel">
      <nodename>attribute</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.CallTemplateExtension,Sitecore.Kernel">
      <nodename>call-template</nodename>    
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.ForEachExtension,Sitecore.Kernel">
      <nodename>for-each</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.IfExtension,Sitecore.Kernel">
      <nodename>if</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.IncludeExtension,Sitecore.Kernel">
      <nodename>include</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.ParamExtension,Sitecore.Kernel">
      <nodename>param</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.RegisterExtension,Sitecore.Kernel">
      <nodename>register</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.SetVariableExtension,Sitecore.Kernel">
      <nodename>set-variable</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.StyleExtension,Sitecore.Kernel">
      <nodename>style</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.StyleAttributeExtension,Sitecore.Kernel">
      <nodename>styleattribute</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.TemplateExtension,Sitecore.Kernel">
      <nodename>template</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.UsingExtension,Sitecore.Kernel">
      <nodename>using</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.ValueOfExtension,Sitecore.Kernel">
      <nodename>value-of</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>

    <extension type="Sitecore.Web.UI.XamlSharp.Xaml.Extensions.VariableExtension,Sitecore.Kernel">
      <nodename>variable</nodename>
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </extension>
  </extensions>

  <attributeAssigners>
    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.IDAttributeAssigner,Sitecore.Kernel"/>
    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.StyleAttributeAssigner,Sitecore.Kernel"/>
    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.FontAttributeAssigner,Sitecore.Kernel"/>
    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.ExtensibleAttributeAssigner,Sitecore.Kernel"/>

    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.StyleRefAttributeAssigner,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/xaml</namespaceuri>
    </attributeAssigner>

    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssigner,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/ajax</namespaceuri>

      <events hint="list:AddEvent">
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>activate</attributeName>
          <htmlName>onactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>change</attributeName>
          <htmlName>onchange</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>click</attributeName>
          <htmlName>onclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>contextmenu</attributeName>
          <htmlName>oncontextmenu</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dblclick</attributeName>
          <htmlName>ondblclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>deactivate</attributeName>
          <htmlName>ondeactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drag</attributeName>
          <htmlName>ondrag</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragend</attributeName>
          <htmlName>ondragend</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragenter</attributeName>
          <htmlName>ondragenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragleave</attributeName>
          <htmlName>ondragleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragover</attributeName>
          <htmlName>ondragover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragstart</attributeName>
          <htmlName>ondragstart</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drop</attributeName>
          <htmlName>ondrop</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>gotfocus</attributeName>
          <htmlName>onfocus</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keydown</attributeName>
          <htmlName>onkeydown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keypress</attributeName>
          <htmlName>onkeypress</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keyup</attributeName>
          <htmlName>onkeyup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>lostfocus</attributeName>
          <htmlName>onblur</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>loaded</attributeName>
          <htmlName>onload</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mousedown</attributeName>
          <htmlName>onmousedown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseenter</attributeName>
          <htmlName>onmouseenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseleave</attributeName>
          <htmlName>onmouseleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseout</attributeName>
          <htmlName>onmouseout</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseover</attributeName>
          <htmlName>onmouseover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseup</attributeName>
          <htmlName>onmouseup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>sizechanged</attributeName>
          <htmlName>onresize</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>unloaded</attributeName>
          <htmlName>onunload</htmlName>
        </event>
      </events>
    </attributeAssigner>

    <attributeAssigner type="Sitecore.Web.UI.XamlSharp.Ajax.RestAttributeAssigner,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/rest</namespaceuri>

      <events hint="list:AddEvent">
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>activate</attributeName>
          <htmlName>onactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>change</attributeName>
          <htmlName>onchange</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>click</attributeName>
          <htmlName>onclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>contextmenu</attributeName>
          <htmlName>oncontextmenu</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dblclick</attributeName>
          <htmlName>ondblclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>deactivate</attributeName>
          <htmlName>ondeactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drag</attributeName>
          <htmlName>ondrag</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragend</attributeName>
          <htmlName>ondragend</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragenter</attributeName>
          <htmlName>ondragenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragleave</attributeName>
          <htmlName>ondragleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragover</attributeName>
          <htmlName>ondragover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragstart</attributeName>
          <htmlName>ondragstart</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drop</attributeName>
          <htmlName>ondrop</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>gotfocus</attributeName>
          <htmlName>onfocus</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keydown</attributeName>
          <htmlName>onkeydown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keypress</attributeName>
          <htmlName>onkeypress</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keyup</attributeName>
          <htmlName>onkeyup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>lostfocus</attributeName>
          <htmlName>onblur</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>loaded</attributeName>
          <htmlName>onload</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mousedown</attributeName>
          <htmlName>onmousedown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseenter</attributeName>
          <htmlName>onmouseenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseleave</attributeName>
          <htmlName>onmouseleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseout</attributeName>
          <htmlName>onmouseout</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseover</attributeName>
          <htmlName>onmouseover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseup</attributeName>
          <htmlName>onmouseup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>sizechanged</attributeName>
          <htmlName>onresize</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>unloaded</attributeName>
          <htmlName>onunload</htmlName>
        </event>
      </events>
    </attributeAssigner>

    <attributeAssigner type="Web.UI.XamlSharp.Xaml.Attributes.JavascriptAttributeAssigner,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/javascript</namespaceuri>

      <events hint="list:AddEvent">
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>activate</attributeName>
          <htmlName>onactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>change</attributeName>
          <htmlName>onchange</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>click</attributeName>
          <htmlName>onclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>contextmenu</attributeName>
          <htmlName>oncontextmenu</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dblclick</attributeName>
          <htmlName>ondblclick</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>deactivate</attributeName>
          <htmlName>ondeactivate</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drag</attributeName>
          <htmlName>ondrag</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragend</attributeName>
          <htmlName>ondragend</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragenter</attributeName>
          <htmlName>ondragenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragleave</attributeName>
          <htmlName>ondragleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragover</attributeName>
          <htmlName>ondragover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>dragstart</attributeName>
          <htmlName>ondragstart</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>drop</attributeName>
          <htmlName>ondrop</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>gotfocus</attributeName>
          <htmlName>onfocus</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keydown</attributeName>
          <htmlName>onkeydown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keypress</attributeName>
          <htmlName>onkeypress</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>keyup</attributeName>
          <htmlName>onkeyup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>lostfocus</attributeName>
          <htmlName>onblur</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>loaded</attributeName>
          <htmlName>onload</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mousedown</attributeName>
          <htmlName>onmousedown</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseenter</attributeName>
          <htmlName>onmouseenter</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseleave</attributeName>
          <htmlName>onmouseleave</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseout</attributeName>
          <htmlName>onmouseout</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseover</attributeName>
          <htmlName>onmouseover</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>mouseup</attributeName>
          <htmlName>onmouseup</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>sizechanged</attributeName>
          <htmlName>onresize</htmlName>
        </event>
        <event type="Sitecore.Web.UI.XamlSharp.Ajax.AjaxAttributeAssignerEvent,Sitecore.Kernel">
          <attributeName>unloaded</attributeName>
          <htmlName>onunload</htmlName>
        </event>
      </events>
    </attributeAssigner>
    
  </attributeAssigners>

  <attributeEvaluators>
    <attributeEvaluator type="Sitecore.Web.UI.XamlSharp.Xaml.Attributes.ExpressionAttributeEvaluator,Sitecore.Kernel"/>
  </attributeEvaluators>

  <sources>
    <source type="Sitecore.Web.UI.XamlSharp.Xaml.ImportControlSource,Sitecore.Kernel" />

    <source type="Sitecore.Web.UI.XamlSharp.Renderings.RenderingControlSource,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/renderings</namespaceuri>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.Xaml.XamlFileControlSource,Sitecore.Kernel">
      <watchers hint="list:AddWatcher">
        <watcher type="Sitecore.Web.UI.XamlSharp.Xaml.XamlFileWatcher,Sitecore.Kernel">
          <folder>/sitecore/shell/Applications</folder>
          <filter>*.xaml.xml</filter>
          <codefilter>*.xaml.xml.cs</codefilter>
          <includesubdirectories>true</includesubdirectories>
        </watcher>
      </watchers>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.Xaml.XamlFileControlSource,Sitecore.Kernel">
      <watchers hint="list:AddWatcher">
        <watcher type="Sitecore.Web.UI.XamlSharp.Xaml.XamlFileWatcher,Sitecore.Kernel">
          <folder>/sitecore modules</folder>
          <filter>*.xaml.xml</filter>
          <codefilter>*.xaml.xml.cs</codefilter>
          <includesubdirectories>true</includesubdirectories>
        </watcher>
      </watchers>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.AssemblyControlSource,Sitecore.Kernel">
      <assemblyname>Sitecore.Kernel</assemblyname>
      <namespace>Sitecore.Web.UI.HtmlControls</namespace>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.AssemblyControlSource,Sitecore.Kernel">
      <assemblyname>Sitecore.Kernel</assemblyname>
      <namespace>Sitecore.Web.UI.WebControls</namespace>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.AssemblyControlSource,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/microsoft/webcontrols</namespaceuri>
      <assemblyname>System.Web</assemblyname>
      <namespace>System.Web.UI.WebControls</namespace>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.AssemblyControlSource,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/microsoft/htmlcontrols</namespaceuri>
      <assemblyname>System.Web</assemblyname>
      <namespace>System.Web.UI.HtmlControls</namespace>
    </source>

    <source type="Sitecore.Web.UI.XamlSharp.XmlControlSource,Sitecore.Kernel">
      <namespaceuri>http://www.sitecore.net/xmlcontrols</namespaceuri>
    </source>
  </sources>

  <definitionCreators>
    <definitionCreator type="Sitecore.Web.UI.XamlSharp.Xaml.ControlDefinitionCreator,Sitecore.Kernel">
      <extension>xaml.xml</extension>
    </definitionCreator>
  </definitionCreators>

  <htmlControls>
    <htmlControl tag="a" type="System.Web.UI.HtmlControls.HtmlAnchor,System.Web"/>
    <htmlControl tag="button" type="System.Web.UI.HtmlControls.HtmlButton,System.Web"/>
    <htmlControl tag="form" type="System.Web.UI.HtmlControls.HtmlForm,System.Web"/>
    <htmlControl tag="head" type="System.Web.UI.HtmlControls.HtmlHead,System.Web"/>
    <htmlControl tag="img" type="System.Web.UI.HtmlControls.HtmlImage,System.Web"/>
    <htmlControl tag="head" type="System.Web.UI.HtmlControls.HtmlHead,System.Web"/>
    <htmlControl tag="input" attribute="type" value="button" type="System.Web.UI.HtmlControls.HtmlInputButton,System.Web"/>
    <htmlControl tag="input" attribute="type" value="checkbox" type="System.Web.UI.HtmlControls.HtmlInputCheckBox,System.Web"/>
    <htmlControl tag="input" attribute="type" value="file" type="System.Web.UI.HtmlControls.HtmlInputFile,System.Web"/>
    <htmlControl tag="input" attribute="type" value="hidden" type="System.Web.UI.HtmlControls.HtmlInputHidden,System.Web"/>
    <htmlControl tag="input" attribute="type" value="image" type="System.Web.UI.HtmlControls.HtmlInputImage,System.Web"/>
    <htmlControl tag="input" attribute="type" value="password" type="System.Web.UI.HtmlControls.HtmlInputPassword,System.Web"/>
    <htmlControl tag="input" attribute="type" value="radio" type="System.Web.UI.HtmlControls.HtmlInputRadioButton,System.Web"/>
    <htmlControl tag="input" attribute="type" value="reset" type="System.Web.UI.HtmlControls.HtmlInputReset,System.Web"/>
    <htmlControl tag="input" attribute="type" value="submit" type="System.Web.UI.HtmlControls.HtmlInputSubmit,System.Web"/>
    <htmlControl tag="input" attribute="type" value="text" type="System.Web.UI.HtmlControls.HtmlInputText,System.Web"/>
    <htmlControl tag="link" type="System.Web.UI.HtmlControls.HtmlLink,System.Web"/>
    <htmlControl tag="meta" type="System.Web.UI.HtmlControls.HtmlMeta,System.Web"/>
    <htmlControl tag="select" type="System.Web.UI.HtmlControls.HtmlSelect,System.Web"/>
    <htmlControl tag="table" type="System.Web.UI.HtmlControls.HtmlTable,System.Web"/>
    <htmlControl tag="td" type="System.Web.UI.HtmlControls.HtmlTableCell,System.Web"/>
    <htmlControl tag="tr" type="System.Web.UI.HtmlControls.HtmlTableRow,System.Web"/>
    <htmlControl tag="textarea" type="System.Web.UI.HtmlControls.HtmlTextArea,System.Web"/>
    <htmlControl tag="title" type="System.Web.UI.HtmlControls.HtmlTitle,System.Web"/>
  </htmlControls>
</configuration>
  