<div class="span2">
    <div class="fixed">
        <h4>Menu <i class="icon-hand-down"></i></h4>
        <ul class="nav nav-tabs nav-stacked">
            <li>
                <a href="#constructors">Constructors</a>
            </li>
            <li>
                <a href="#properties">Properties</a>
            </li>
            <li>
                <a href="#methods">Methods</a>
            </li>
            <li>
                <a href="#notes">Notes</a>
            </li>
        </ul>
    </div>
</div>
