<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Glass.Mapper Website - {{ page.title }}</title>
    <link href="//bootswatch.com/united/bootstrap.min.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/Glass.Mapper/site.css" rel="stylesheet" />
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet"/>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/Glass.Mapper/js/git.js" type="text/javascript"></script>
    <script src="/Glass.Mapper/js/site.min.js"></script>
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/Glass.Mapper/">Glass.Mapper</a>
                <div class="nav-collapse collapse">

                    <ul class="nav">
                        <li><a href="/Glass.Mapper/download.html"><i class="icon-download-alt icon-white"></i>Download</a></li>
                        <li><a href="/Glass.Mapper/blog/index.html"><i class="icon-user icon-white"></i>The Blog</a></li>
                        <li><a href="/Glass.Mapper/docs/index.html"><i class="icon-file icon-white"></i>Documentation</a></li>
                        <li><a href="/Glass.Mapper/docs/contribute.html"><i class="icon-random  icon-white"></i>Contribute</a></li>
                        <li><a href="/Glass.Mapper/googlegroup.html"><i class="icon-envelope icon-white"></i>Google Group</a></li>
                        <li><a href="/Glass.Mapper/trello.html"><i class="icon-list icon-white"></i>Trello</a></li>
                        <li><a href="/Glass.Mapper/team/index.html"><i class="icon-book icon-white"></i>The Team</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
