<?xml version="1.0" encoding="utf-8"?>
<domains xmlns:sc="Sitecore">
  <!-- 
    <domain> supports attributes matching domain type properties. Among these are:
      name : Name of the domain. Required.
      type : Full name of type to instantiate. Optional.
      locallyManaged: Indicates if the domain is locally managed (true/false). Optional - default value: false
      isDefault : Indicates if the domain is the default domain (true/false). Optional - default value: false
      displayName: The title to use when presenting the domain in UI. Optional.
      anonymousUserName: The name of the anonymous user for the domain (without the domain name). Set to blank to disable the anonymous user for the domain. Optional - default value: Anonymous
      ensureAnonymousUser: Indicates if the domain should ensure that an anonymous user for the domain exists in the Membership database. Optional - default value: false
      everyoneRoleName: The name of the everyone role for the domain (without the domain name). Set to blank to disable the everyone role for the domain. Optional - default value: Everyone
      defaultProfileItemId: The ID of the default Profile item for the domain. This property is typically used when using external security providers where 
        the users in the domain do not automatically have a Profile associated with them (such as when using the Active Directory security provider). Optional - default value: (blank)
      
    To specify a specific template to use when initializing the domain, use the sc:template attribute. If not specified, 
    the default (unnamed) template is used.
  -->
  <domain name="sitecore" ensureAnonymousUser="false" />
  <domain name="extranet" />
  <domain name="default" isDefault="true" />
  <!-- 
      Domain templates
      Use sc:templateName to name a specific template (and sc:template to reference it).
      Note that currently, default properties must be written as elements (rather than attributes).
    -->
  <sc:templates>
    <domain type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
      <ensureAnonymousUser>true</ensureAnonymousUser>
      <locallyManaged>false</locallyManaged>
    </domain>
  </sc:templates>
</domains>
