<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
          <indexDocumentPropertyMapper>
            <objectFactory type="Sitecore.ContentSearch.DefaultDocumentMapperObjectFactory, Sitecore.ContentSearch">
              <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.AzureSearchProvider.GlassDocumentMapperObjectFactory, Glass.Mapper.Sc.ContentSearch.AzureSearchProvider</patch:attribute>
            </objectFactory>
          </indexDocumentPropertyMapper>
          <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field type="System.String[]" fieldName="_templates" cloudFieldName="templates__" boost="1f" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
            </fieldNames>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_templates">Sitecore.Foundation.Indexing.Infrastructure.Fields.AllTemplatesComputedField, Sitecore.Foundation.Indexing</field>
            </fields>
          </documentOptions>

        </defaultCloudIndexConfiguration>
      </indexConfigurations>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.AzureSearchProvider.GlassAzureSearchIndex, Glass.Mapper.Sc.ContentSearch.AzureSearchProvider</patch:attribute>
            <schemaBuilder><patch:delete/></schemaBuilder>
            <mySchemaBuilder ref="contentSearch/searchServiceSchemaBuilder"/>
            <searchService><patch:delete /></searchService>
            <mySearchService type="Sitecore.ContentSearch.Azure.Http.CompositeSearchService, Sitecore.ContentSearch.Azure"/>
          </index>
          <index id="sitecore_web_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.AzureSearchProvider.GlassAzureSearchIndex, Glass.Mapper.Sc.ContentSearch.AzureSearchProvider</patch:attribute>
            <schemaBuilder>
              <patch:delete/>
            </schemaBuilder>
            <mySchemaBuilder ref="contentSearch/searchServiceSchemaBuilder"/>
            <searchService>
              <patch:delete />
            </searchService>
            <mySearchService type="Sitecore.ContentSearch.Azure.Http.CompositeSearchService, Sitecore.ContentSearch.Azure"/>
          </index>
          <index id="sitecore_core_index">
            <patch:attribute name="type">Glass.Mapper.Sc.ContentSearch.AzureSearchProvider.GlassAzureSearchIndex, Glass.Mapper.Sc.ContentSearch.AzureSearchProvider</patch:attribute>
            <schemaBuilder>
              <patch:delete/>
            </schemaBuilder>
            <mySchemaBuilder ref="contentSearch/searchServiceSchemaBuilder"/>
            <searchService>
              <patch:delete />
            </searchService>
            <mySearchService type="Sitecore.ContentSearch.Azure.Http.CompositeSearchService, Sitecore.ContentSearch.Azure"/>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
