<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sccore;password=sccore;Data Source=XE" />
  <add name="master" connectionString="user id=scmaster;password=scmaster;Data Source=XE" />
  <add name="web" connectionString="user id=scweb;password=scweb;Data Source=XE" />
</connectionStrings>