<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sitecore.glass;password=g!@ss;Data Source=.;Database=GlassSitecore_Core" />
  <add name="master" connectionString="user id=sitecore.glass;password=g!@ss;Data Source=.;Database=GlassSitecore_Master" />
  <add name="web" connectionString="user id=sitecore.glass;password=g!@ss;Data Source=.;Database=GlassSitecore_Web" />
</connectionStrings>