<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <collection name="Applications">
    People/48x48/User1.png|
    People/48x48/User2.png|
    People/48x48/User3.png|
    People/48x48/Angel.png|
    People/48x48/Astrologer.png|
    People/48x48/Dude1.png|
    People/48x48/Dude2.png|
    People/48x48/Dude3.png|
    People/48x48/Dude4.png|
    People/48x48/Dude5.png|
    People/48x48/Guard.png|
    People/48x48/Magician.png|
    People/48x48/Nurse1.png|
    People/48x48/Nurse2.png|
    People/48x48/Pilot1.png|
    People/48x48/Pilot2.png|
    People/48x48/Policeman_bobby.png|
    People/48x48/Policeman_german.png|
    People/48x48/Policeman_usa.png|
    People/48x48/Worker.png|
    Business/48x48/Businessman.png|
    Business/48x48/Businessman2.png|
    Business/48x48/Graduate.png|
    other/48x48/Woman1.png|
    other/48x48/Woman2.png|
    other/48x48/Woman3.png|
    other/48x48/Woman4.png|
    People/48x48/Pawn_glass_blue.png|
    People/48x48/Pawn_glass_green.png|
    People/48x48/Pawn_glass_red.png|
    People/48x48/Pawn_glass_white.png|
    People/48x48/Pawn_glass_yellow.png|
    Software/48x48/Bug_green.png|
    Software/48x48/Bug_red.png|
    Software/48x48/Bug_yellow.png
  </collection>
</configuration>
  