---
layout: BlogLayout
title: Pre-Release Versions
image: https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTTh8yUCUCRs4HcGlhbcwlWTQWjMNHM-SK4mGNOgX-lMvQvu-mObg
abstract: Download Pre-Release versions of Glass.Mapper.
caption: 25 March 2013
---

{% include pageheader.html %}

<p class="lead">
    With the launch of Glass V3 we have introduced a build server, which has been kindly hosted for use by
    <a href="http://www.eduserv.org.uk">Eduserv</a>. This will allow you to download the latest Glass versions
    before they are made available on Nuget.org. 
</p>
<p>
    This server is up and running now so if you want to get Glass V3 before it is available on Nuget follow the instructions
    on our <a href="/Glass.Mapper/download.html">Download</a> page under the Pre-Release section.
</p>
<p>
    In the future we hope this will be a great way for everyone to get bug fixes and feature improvements before the are
    officially pushed to Nuget.org as stable.
</p>
<p>
    This Pre-release contains just the Sitecore components but we hope to bring the Umbraco components soon.
</p>
{% include share.html %}
<p class="muted">
    Mike - <a href="https://twitter.com/mikeedwards83">@mikeedwards83</a> 
</p>

{% include comments.html %}
