---
layout: BlogLayout
title: Introducing Umbraco in Glass.Mapper
image: /images/blog/2013-05-22-umbraco.png
abstract: Umbraco is now the latest CMS supported by Glass.Mapper.
caption: 22 May 2013
---
	
<img src="/images/blog/2013-05-22-umbraco.png" class="img-polaroid pull-right"/>		
<p class="lead">
   Umbraco is now the latest CMS supported by Glass.Mapper.
</p>
<p>
    We have been working extending support for Umbraco 6 in Glass.Mapper. There is an <a href="http://nuget.org/packages/Glass.Mapper.Umb.CastleWindsor/">early release available</a> to try 
	out the integration with Umbraco.	
</p>
<p>
	The features included in this release are:
	<ul>
		<li>Reading Data</li>
		<li>Writing Data</li>
		<li>Auto Mapping</li>
		<li>On Demand Mapping</li>
		<li>Fluent Configuration</li>
		<li>Attribute Configuration</li>
		<li>Constructor Injection</li>
		<li>Castle Windsor DI</li>
	</ul>
</p>
<p>
	To get started with auto-mapping, it is easy as this.
</p>
<pre class="cs" ref="gh-pages">
    [UmbracoType(AutoMap =  true)]
    public class HomePage
    {
        public virtual string Title { get; set; }
        public virtual string MainBody { get; set; }
        public virtual int NewsArticlesToShow { get; set; }
        public virtual string HeroColour { get; set; }
        [UmbracoProperty("NewsLanding")]
        public virtual NewsLanding LandingPage { get; set; }
    }
</pre>
<p>
	To map your razor layout to your model, inherit from GlassTemplatePage.
</p>
<pre class="cs" ref="gh-pages">
@inherits Glass.Mapper.Umb.Web.Ui.GlassTemplatePage&lt;Glass.Mapper.Sites.Umb.Models.Landing.HomePage&gt;
@{
    Layout = "BaseLayout.cshtml";
}
&lt;div class="hero-unit"&gt;
    &lt;h1 style="color: #@Model.HeroColour"&gt;@Model.Title&lt;/h1&gt;
    @Html.Raw(Model.MainBody)
&lt;/div&gt;

&lt;div class="span6"&gt;
    &lt;h3&gt;Featured News&lt;/h3&gt;
    &lt;ul class="thumbnails"&gt;
        @foreach (var news in Model.NewsLanding.Articles.Take(Model.NewsArticlesToShow))
        {
        &lt;li&gt;
            &lt;div class="thumbnail"&gt;
                @if (news.FeaturedImage != null)
                {
                    &lt;img src="@news.FeaturedImage.Src"  /&gt;
                }
                &lt;h4&gt;
                    &lt;a href="@Umbraco.NiceUrl(news.Id)"&gt;
                        @news.Title
                    &lt;/a&gt;
                &lt;/h4&gt;
                &lt;p&gt;@news.Abstract&lt;/p&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        }
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
<p>
	There is still plenty of work to do and the main feature still to come is code first document type generation. The project is up on <a href="https://github.com/mikeedwards83/Glass.Mapper">GitHub</a> 
	so feel welcome to raise issues or contribute to the framework.
</p>
<p>
	Tutorials coming soon!
</p>

{% include share.html %}
<p class="muted">
    Tom - <a href="https://twitter.com/TomDudfield">@TomDudfield</a> 
</p>
