---
layout: MainLayout
title: Blog
caption: keeping up to date
---
{% highlight ruby %}
    def group_by_month(posts)
      months = []
      posts_by_month = {}
      posts.reverse.each do |post|
        key = Time.utc(post.date.year, post.date.month)
        if posts_by_month.has_key?(key)
          posts_by_month[key] << post
        else
          posts_by_month[key] = [post]
          months << key
        end
      end
      return [months,posts_by_month]
    end
      archive_data = group_by_month(site.posts)
      months = archive_data[0]
      posts_by_month = archive_data[1]
{% endhighlight %}

<div class="row-fluid">
    <div class="span12">
{% include pageheader.html %}
<div class="archives">
{% for month in page.months %}
<h2>{{ month | date:"%B" }} <small>{{ month | date:"%Y" }}</small></h2>
  <ul>
  {% for post in page.posts_by_month[month] %}
    <li><a href="{{ post.url }}">{{ post.title | truncate:65 }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
</div>
		<ul class="unstyled">
			{% for post in site.posts %}
			
			<li>
				<h2><a href="/Glass.Mapper{{ post.url }}"><strong>{{post.title}}</strong></a><small> - {{ post.date | date_to_string }}</small></h2>
				<p><img src="{{post.image}}" alt="{{post.title}}"></p>
				<p>{{ post.abstract }}</p>
				<a href="/Glass.Mapper{{ post.url }}#disqus_thread"></a>
			</li>
			{% endfor %}
			
		</ul>
	 <script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'glassmapper'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
		</script>
	</div>
</div>
