<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Glass.Mapper.Sc.Pipelines.Initialize.GlassMapperSc, Glass.Mapper.Sc" />
      </initialize>

      <mvc.getModel>
        <processor type="Glass.Mapper.Sc.Pipelines.Response.GetModel, Glass.Mapper.Sc.Mvc"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']" />
        <processor type="Glass.Mapper.Sc.Pipelines.Response.GetModelFromView, Glass.Mapper.Sc.Mvc"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']" />
      </mvc.getModel>

      <getChromeData>
        <processor type="Glass.Mapper.Sc.Pipelines.GetChromeData.EditFrameBuilder, Glass.Mapper.Sc"
                   patch:before="processor[1]" />
      </getChromeData>

      <glassMapper.createResolver help="Processors should derive from Glass.Mapper.Sc.Pipelines.CreateResolverProcessor">
        <!-- Add any changes to the standard resolver here. -->
      </glassMapper.createResolver>
      <glassMapper.getGlassLoaders help="Processors should derive from Glass.Mapper.Sc.Pipelines.GetGlassLoadersProcessor">
        <!-- Use this pipeline to add fluent configuration loaders. -->
        <!-- If you are using attribute configuration or automapping/on-demand mapping you don't need to do anything! -->
      </glassMapper.getGlassLoaders>
      <glassMapper.addMaps help="Processors should derive from Glass.Mapper.Sc.Pipelines.AddMapsProcessor">
        <!-- Add maps to the MapsConfigFactory here. -->
      </glassMapper.addMaps>
      <glassMapper.postLoad help="Processors should derive from Glass.Mapper.Sc.Pipelines.PostLoadProcessor" />
    </pipelines>

    <events>
      <event name="publish:end">
        <handler type="Glass.Mapper.Sc.Events.PublishEnd.GlassCacheClear, Glass.Mapper.Sc" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Glass.Mapper.Sc.Events.PublishEnd.GlassCacheClear, Glass.Mapper.Sc" method="ClearCache" />
      </event>
    </events>
  </sitecore>
</configuration>
