<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <settings></settings>
    <pipelines>

      
    
      <mvc.getModel>
        <processor type="Glass.Mapper.Sc.Pipelines.Response.GetModel, Glass.Mapper.Sc.Mvc"/>
      </mvc.getModel>
      <getChromeData>
        <processor type="Glass.Mapper.Sc.Pipelines.GetChromeData.EditFrameBuilder, Glass.Mapper.Sc"
                   patch:before="processor[1]" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>
