<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <collection name="Applications">
    Applications/16x16/document.png|
    Applications/16x16/folder.png|
    Applications/16x16/copy.png|
    Applications/16x16/document_plain.png|
    Applications/16x16/edit.png|
    Applications/16x16/find.png|
    Applications/16x16/form_blue.png|
    Applications/16x16/form_green.png|
    Applications/16x16/form_red.png|
    Applications/16x16/form_yellow.png|
    Applications/16x16/gear.png|
    Applications/16x16/gears.png|
    Applications/16x16/music.png|
    Applications/16x16/notebook.png|
    Applications/16x16/photo_portrait.png|
    Applications/16x16/photo_scenery.png|
    Applications/16x16/preferences.png|
    Applications/16x16/scroll.png|
    Applications/16x16/star_blue.png|
    Applications/16x16/star_green.png|
    Applications/16x16/star_grey.png|
    Applications/16x16/star_red.png|
    Applications/16x16/star_yellow.png
  </collection>
  <collection name="Business">
    Business/16x16/address_book.png|
    Business/16x16/address_book2.png|
    Business/16x16/briefcase.png|
    Business/16x16/briefcase2.png|
    Business/16x16/data.png|
    Business/16x16/cabinet.png|
    Business/16x16/calendar.png|
    Business/16x16/chart.png|
    Business/16x16/date-time.png|
    Business/16x16/funnel.png|
    Business/16x16/index.png|
    Business/16x16/message.png|
    Business/16x16/note.png|
    Business/16x16/paperclip.png|
    Other/16x16/at.png|
    Business/16x16/paragraph.png|
    Business/16x16/percent.png|
    Business/16x16/shoppingbasket.png|
    Business/16x16/shoppingcart.png
  </collection>
  <collection name="Networking">
    Network/16x16/certificate.png|
    Network/16x16/download.png|
    Network/16x16/earth.png|
    Network/16x16/earth2.png|
    Network/16x16/environment.png|
    Network/16x16/home.png|
    Network/16x16/id_card.png|
    Network/16x16/inbox.png|
    Network/16x16/key1.png|
    Network/16x16/link.png|
    Network/16x16/lock.png|
    Network/16x16/mail.png|
    Network/16x16/server.png|
    Network/16x16/shield.png
  </collection>
  <collection name="Objects">
    People/16x16/alarmclock.png|
    People/16x16/book_blue.png|
    People/16x16/books.png|
    People/16x16/box.png|
    People/16x16/brush3.png|
    People/16x16/clock.png|
    People/16x16/colors.png|
    People/16x16/cube_blue.png|
    People/16x16/cube_green.png|
    People/16x16/cube_yellow.png|
    People/16x16/cubes.png|
    People/16x16/cubes_blue.png|
    People/16x16/cubes_green.png|
    People/16x16/cubes_yellow.png|
    Software/16x16/component.png|
    Software/16x16/component_green.png|
    Software/16x16/component_red.png|
    Software/16x16/component_yellow.png|
    Software/16x16/components.png|
    People/16x16/flower_blue.png|
    Applications/16x16/heart.png|
    People/16x16/hourglass.png|
    Applications/16x16/lightbulb_on.png|
    People/16x16/masks.png|
    People/16x16/medal.png|
    People/16x16/monitor.png|
    People/16x16/movie.png|
    People/16x16/palette.png|
    People/16x16/pawn_glass_blue.png|
    People/16x16/pda.png|
    People/16x16/pencil.png|
    People/16x16/printer.png|
    People/16x16/workstation1.png|
    People/16x16/yinyang.png
  </collection>
  <collection name="People">
    People/16x16/user1.png|
    People/16x16/user2.png|
    People/16x16/user3.png|
    People/16x16/users1.png|
    People/16x16/users2.png|
    People/16x16/users3.png|
    People/16x16/dude1.png|
    People/16x16/dude2.png|
    People/16x16/dude3.png|
    People/16x16/dude4.png|
    People/16x16/dude5.png|
    other/16x16/woman1.png|
    other/16x16/woman2.png|
    other/16x16/woman3.png|
    other/16x16/woman4.png|
    People/16x16/worker.png|
    People/16x16/magician.png|
    People/16x16/policeman_bobby.png|
    People/16x16/policeman_german.png|
    People/16x16/policeman_usa.png|
    Network/16x16/security_agent.png|
    Network/16x16/spy.png|
    People/16x16/pilot1.png|
    People/16x16/pilot2.png|
    People/16x16/angel.png|
    People/16x16/ghost.png
  </collection>
</configuration>
  