@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<Glass.Mapper.Sites.Umb.Models.Misc.MenuItem>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="@Umbraco.NiceUrl(Model.Id)">@Model.Title</a>
    <ul class="nav">
        @foreach (var item in Model.Children)
        {
            <li><a href="@Umbraco.NiceUrl(item.Id)">@item.Title</a></li>
        }
    </ul>
  </div>
</div>