@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="//bootswatch.com/slate/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <form runat="server">
        <div class="container">
            <div class="row">
                <div class="span12">
                    @Html.Sitecore().Placeholder("main")
                </div>
            </div>
        </div>
    </form>
</body>
</html>