<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Login.RememberLastLoggedInUserName" value="false"/>
		<setting name="LicenseFile" value="license.xml" />
	</settings>
    <sites>
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/site</patch:attribute>
      </site>
      <site name="GetHomeItem" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/Tests/SitecoreContext/GetHomeItem" startItem="/Target1" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" />
	
    </sites>
  </sitecore>
</configuration>