<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Login.RememberLastLoggedInUserName" value="false"/>
		<setting name="LicenseFile" value="license.xml" />
	</settings>
    <sites>
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/site</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>