
{% include head.html %}

<div class="row-fluid">
    <div class="span2">
        <div class="well">
            <ul class="nav nav-list">
                <li><a href="/Glass.Mapper/docs/index.html">Documentation</a></li>
                <li><a href="/Glass.Mapper/docs/api/index.html">API</a></li>
                <li><a href="/Glass.Mapper/docs/solutions">Solutions &amp; Projects</a></li>
            </ul>
            </div>
    </div>
    <div class="span10">
        {{content}}
    </div>
</div>

{% include foot.html %}