
{% include head.html %}

<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <h4><a href="/docs/index.html">Docs</a></h4> 
            <ul class="nav nav-list">
                <li><a href="/docs/concepts/index.html">Concepts</a></li>                
                <li><a href="/docs/tutorial/index.html">Tutorials</a></li> 
                <li><a href="/docs/api/index.html">API</a></li>
                <li><a href="/docs/releases/index.html">Release Notes</a></li>
                <li><a href="/docs/contribute.html">Contribute</a></li>
                <li><a href="/docs/faq/index.html">FAQ</a></li>
                <li><a href="/docs/glass.sitecore.mapper.html">Glass.Sitecore.Mapper</a></li>
                <li><a href="/docs/license.html">License</a></li>
            </ul>
            </div>
    </div>
    <div class="span9">
        {{content}}
    </div>
</div>

{% include foot.html %}