<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <childLimit>100</childLimit>
  
  <logStats>false</logStats>
  
  <template desc="template">{AB86861A-6030-46C5-B394-E8F99E8B87DB}</template>
  <template desc="template section">{E269FBB5-3750-427A-9149-7AA950B49301}</template>
  <template desc="template field">{455A3E98-A627-4B40-8035-E683A0331AC7}</template>
  
  <template desc="node">{239F9CF4-E5A0-44E0-B342-0F32CD4C6D8B}</template>
  <template desc="folder">{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</template>

  <template desc="language">{F68F13A6-3395-426A-B9A1-FA2DC60D94EB}</template>
  <template desc="device">{B6F7EEB4-E8D7-476F-8936-5ACE6A76F20B}</template>

  <item desc="root">{11111111-1111-1111-1111-111111111111}</item>
  <children desc="main sections">{11111111-1111-1111-1111-111111111111}</children>
</configuration>