<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <cacheSize>10MB</cacheSize>

  <template desc="application">{EB06CEC0-5E2D-4DC4-875B-01ADCC577D13}</template>
  <template desc="html setting group">{B2A1FF6C-6B1F-41EF-B2E1-AA598CF7335F}</template>

  <children desc="applications">{C74AC643-53C8-4F1E-9508-840CDC72AACA}</children>
</configuration>