<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <cacheSize>10MB</cacheSize>

  <template desc="alias">{54BCFFB7-8F46-4948-AE74-DA5B6B5AFA86}</template>

  <template desc="layout">{3A45A723-64EE-4919-9D41-02FD40FD1466}</template>
  <template desc="xsl rendering">{F1F1D639-4F54-40C2-8BE0-81266B392CEB}</template>

  <item desc="home">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</item>
  <children desc="main items">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</children>
</configuration>
