# Glass NuGet Release
name: NuGet Release

on:
  release:
    types: [created]

env:
  NUGET_PACKAGE_PATH: './NuGetPackages'    # set this to your nuget package path
  SC_V10_VERSION: '10.0.0'    # set this to your Sitecore version
  NUGET_SC_V10_VERSION: '100' #set this to the Number for the Sitecore version on the NuGet package

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@master        
      
      - name: Dotnet pack Sitecore v10.0
        run: | 
         dotnet pack "./Source/Glass.Mapper.Sc/Glass.Mapper.Sc.csproj" --packages .\NuGetv100 --configfile .nuget\NuGet.Config -p:Version=${{ github.event.release.tag_name }} -p:ScVersion=${{ env.SC_V10_VERSION }} -p:PackageScVersion=${{ env.NUGET_SC_V10_VERSION }} -p:TargetFramework=net48 -o:'${{ env.NUGET_PACKAGE_PATH }}' 
         dotnet pack "./Source/Glass.Mapper.Sc.WebForms/Glass.Mapper.Sc.WebForms.csproj" --packages .\NuGetv100 --configfile .nuget\NuGet.Config  -p:Version=${{ github.event.release.tag_name }} -p:ScVersion=${{ env.SC_V10_VERSION }} -p:PackageScVersion=${{ env.NUGET_SC_V10_VERSION }} -p:TargetFramework=net48 -o:'${{ env.NUGET_PACKAGE_PATH }}' 
         dotnet pack "./Source/Glass.Mapper.Sc.Mvc/Glass.Mapper.Sc.Mvc.csproj" --packages .\NuGetv100 --configfile .nuget\NuGet.Config  -p:Version=${{ github.event.release.tag_name }} -p:ScVersion=${{ env.SC_V10_VERSION }} -p:PackageScVersion=${{ env.NUGET_SC_V10_VERSION }} -p:TargetFramework=net48 -o:'${{ env.NUGET_PACKAGE_PATH }}' 
         dotnet pack "./Source/Glass.Mapper/Glass.Mapper.csproj" --packages .\NuGetv100 --configfile .nuget\NuGet.Config -p:Version=${{ github.event.release.tag_name }} -p:ScVersion=${{ env.SC_V10_VERSION }} -p:PackageScVersion=${{ env.NUGET_SC_V10_VERSION }} -p:TargetFramework=net48 -o:'${{ env.NUGET_PACKAGE_PATH }}'
         
      - name: Push to NuGet
        run: dotnet nuget push '${{ github.workspace }}/${{ env.NUGET_PACKAGE_PATH }}/*.nupkg' -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json
         
         
         